/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.janela {
  width: 80vw;
}

.header-left {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffd5d58a;
  color: #000;
  border-right: 2px solid #fa4f6c;
}

.dash-right {
  width: 80vw;
  height: 100%;
  background-color: #ffd5d58a;
  color: #000;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #ffd5d58a;
}

.dash {
  width: 80vw;
  position: fixed;
  top: 0;
  left: 20%;
  background-color: #ffd5d58a;
  color: #000;
  height: 100%;
  overflow: auto;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #ffd5d58a;
  color: #000;
  border: 2px solid #fa4f6c;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid black 2px;
  text-align: left;
  font-weight: 700;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.graph {
  width: 80%;
  margin: auto;
}

.tituloGraficos {
  color: #000;
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  box-shadow: 0px 2px 5px #0003;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;
}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.notificacoes .aviso.success {
  background-image: linear-gradient(to right, #0bbe327e, #6dc46a 50%);
}

.notificacoes .aviso.error {
  background-image: linear-gradient(to right, #d10a0a67, #cd6f6f 50%);
}

.notificacoes {
  position: absolute;
  top: 80px;
  right: 0px;
  background-color: #acacac;
  overflow: hidden;
  width: 400px;
  border-radius: 10px;
  padding: 16px 17px;
  margin-bottom: 10px;
  animation: show_aviso 0.3s ease forwards;
}

@keyframes show_aviso {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.notificacoes :where(.aviso, .coluna) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aviso .coluna i {
  font-size: 25px;
}

.aviso .coluna span {
  color: #ffffff;
  font-size: 1.07rem;
  margin-left: 12px;
}

.aviso i:last-child {
  color: #38393c;
  cursor: pointer;
}

.aviso i:last-child:hover {
  color: #cbcbcb;
}

.notificacoes::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 3s linear forwards;
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

.aviso.success::before {
  background: #0cb130;
}

.aviso.error::before {
  background: #f12d2d;
}

.aviso.success .coluna i {
  color: #0abf30;
}

.aviso.error .coluna i {
  color: #e24d4c;
}
