* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ffd5d5e5;
}

.container {
    display : flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 80vh;
    border-radius: 40px;
    box-shadow: 10px 15px 25px #8e4357;
}

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f0f0;
    width: 50%;
    height: 100%;
    border-radius:0px 40px 40px 0px ;
}

.left-box {
    background-color: #ff627ddd;
    width: 50%;
    height: 80vh;
    border-radius: 40px 0px 0px 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box .titulo h1 {
    font-size: 45px;
}

.left-box img {
    height: 461px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 10px;
}

.right-box h2 {
    font-size: 35px;
    margin-bottom: 3vh;
}

input {
    width: 250px;
    border: none;
    padding: 10px;
    margin-bottom: 15px ;
    background-color: #f2f0f0;
    border-bottom: 2px solid #fb4d6add;
    outline: none;
    color: #444444;
}

.entrar {
    width: 40%;
    padding: 14px;
    color: #fff;
    background-color: #7ed957;
    box-shadow: 10px 10px 20px #71a75a;
    border: none;
    border-radius: 20px;
    font-size: 12pt;
    font-weight: 800;
    cursor: pointer;
}

.cadastrar {
    width: 40%;
    padding: 14px;
    color: #fff;
    background-color: #7ed957;
    box-shadow: 10px 10px 20px #71a75a;
    border: none;
    border-radius: 20px;
    font-size: 12pt;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 10px;
}

.entrar:hover {
    width: 41%;
    padding: 14px;
    transition: 0.5s;
}

.cadastrar:hover {
    width: 41%;
    padding: 14px;
    transition: 0.5s;
}

.right-box .bottom {
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    padding: 8px;
    border-radius: 25px;
    margin-top: 5px;
    width: fit-content;
    background: #cfcfcf;
    cursor: pointer;
    text-decoration: none;
    color: #444444;

}

h1 {
    padding-top: 14%;
    color: #f2f0f0;
    font-size: 40pt;
}

