* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* :root {
  --bg_color_tm_light: #f1ebeb;
  --bg_page_tm_light: #ffd5d58a;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(251, 92, 161) , rgb(255, 150, 196))
}

.container {
  display : flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 80vh;
  border-radius: 40px;
  box-shadow: 10px 15px 25px #8e4357;
}

.right-box {
  display: flex;
  justify-content: center;
  background-color: #f2f0f0;
  width: 55%;
  height: 80vh;
  border-radius:0px 40px 40px 0px ;
}

.left-box {
  background-color: #ff627ddd;
  width: 45%;
  height: 80vh;
  border-radius: 40px 0px 0px 40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-box .form {
  display: flex;
  margin-top: 60px;
  margin-left: 150px;
  flex-direction: column;
  width: 60%;
  height: 50%;
}


input {
  width: 70%;
  border: none;
  padding: 10px;
  margin-bottom: 15px ;
  background-color: #f2f0f0;
  border-bottom: 2px solid #fb4d6add;
  outline: none;
  color: #444444;    
}

h1 {
  color: #f2f0f0;
  font-size: 30pt;
  position: relative;
  top: 10%;
}

.titulo {
  display: flex;
  padding-right: 20%;
}

.titulo label {
  font-size: 30px;
}

.conteudo {
  padding-top: 10%;
}

.conteudo label {
  font-size: 20px;
}

.tipo {
  padding-top: 10px;
  padding-left: 20%;
}

.tipo i{
  font-size: 40px;
  padding-right: 15px;
}

.tipo :hover {
  font-size: 50px;
  transition: 0.6s;
}

button {
  width: 40%;
  padding: 14px;
  color: #fff;
  margin-top: 10px;
  background-color: #7ed957;
  box-shadow: 10px 10px 20px #71a75a;
  border: none;
  border-radius: 20px;
  font-size: 12pt;
  font-weight: 800;
  cursor: pointer;
}

button:hover {
  width: 41%;
  padding: 15px;
  transition: 0.5s;
}

.botao {
  margin-bottom: 45px;
}

.caixaBotao {
  padding-top: 4vh;
  padding-left: 30%;
}


