body {
    margin: 0;
    padding: 0;
}

.header .navbar {
    background-color: rgb(228, 59, 59);
    height: 60px;
    width: 100%;
}

.header .dashboard {
    padding-top: 35px;
    padding-bottom: 35px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.header .dashboard .grafico {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; 
    width: 40vw;
    background-color: rgb(250, 243, 233);
    border: 1px solid rgb(250, 243, 233);
    border-radius: 15px;
}

/* .header .dashboard .grafico canvas {
    position: relative;
    height: 40vh; 
    width: 40vw;
} */
