* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,  rgb(251, 92, 161) , rgb(255, 150, 196));
}

:root {
    --bg_color_tm_light: #f1ebeb;
    --bg_page_tm_light: #ffd5d58a;
    --borda_color_tm_light: #fa4f6c;
    --letra_dest_color_segundaria_tm_light: #f63858;
    --letra_color_primaria_tm_light: #1e1e1e;
    --sombra_tm_light: #1e1e1e;
}

.menu {
     background: var(--bg_color_tm_light);  
    transition: 0.6s;
}

.menu ul li a {
    color: var(--letra_color_primaria_tm_light);
    text-decoration: none;
}

.active {
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 2px solid var(--borda_color_tm_light);
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* background: #ad1212; */
    border-bottom: var(--borda_color_tm_light) solid 2px;
    padding: 10px;
    height: 60px;
    font-weight: 400;
}

.menu ul li {
    font-size: 15px;
    transition: 0.6s;
}

.menu ul li a img {
    width: 100px;
    transition: 0.6s;
}

ion-icon:hover {
    color: #65e030;
}

.menu ul li ion-icon {
    font-size: 40px;
    transition: 0.6s;
}

.menu ul li i {
    font-size: 25px;
    transition: 0.6s;
    width: 25px;
    /* background: #001eff; */
    cursor: pointer;
}

.menu ul li a img:hover {
    width: 120px;
    transition: 0.6s;
}


.menu ul li:hover {
    font-size: 20px;
    transition: 0.6s;
}


.header .navbar {
    background-color: rgb(233, 67, 89);
    height: 10vh;
    width: 100vw;
}

.titulo {
    display: flex;
    justify-content: center;
}

 .dashboard {
    padding-top: 15px;
    padding-bottom: 35px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

 .dashboard .grafico {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
    width: 30vw;
    color: black;
    background-color: rgb(250, 243, 233);
    border: 1px solid rgb(250, 243, 233);
    border-radius: 15px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

/*  .dashboard .grafico canvas {
    position: relative;
    height: 40vh; 
    width: 40vw;
} */

.dashboard .grafico {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.dashboard .grafico h3 {
    height: fit-content;
}
.dashboard .tabela {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.dashboard .tabela .idCaminhoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.dashboard .tabela .temperatura {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.dashboard .tabela .umidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.dashboard .tabela .indicativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}